:root {
	--background-white: #dfdfdf;
	--background-black: #303030;
	--backgroundPopup-white: #0000007a;
	--backgroundPopup-black: #181818c4;
	--colorText-white: #e7e7e7;
	--colorText-black: #1a1a1a;
}
