:root {
	--background-white: #dfdfdf;
	--background-black: #303030;
	--backgroundPopup-white: #dfdfdf36;
	--backgroundPopup-black: #18181870;
	--colorText-white: #e7e7e7;
	--colorText-black: #1a1a1a;
}
